@using Microsoft.AspNetCore.Identity
@using skills_hub.domain.Models.User

@inject SignInManager<ApplicationUser> _signInManager;
@inject skills_hub.persistence.ApplicationDbContext _context;


@model skills_hub.core.DTO.UserCreateDTO;

@{
    var resText = "Создать";
    if (Model != null && Model.Id != Guid.Empty) resText = "Редактировать";
    ViewData["Title"] = resText + " пользователя ";
}
<style>

    .form-select {
        padding: 0px;
        font-size : inherit
    }

</style>

<!-- Section: Design Block -->
<section class=" text-center " style="padding:0.7%">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <style>
        .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        }
        .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
        }
        .my-background {
        background-color:#F3F3F9 !important;
        }
        .col-form-label {
        text-align:start;
        }
    </style>
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-10">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">

                                <form class="mt-5 mb-5 login-input" method="post" name="userCreateModel">
                                    <input type="hidden" asp-for="IsBase" value="@true" />

                                    <div class="text-center" style="min-height:80px; display:flex;justify-content:space-between">
                                        <h3>
                                            @if (Model != null)
                                            {
                                                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                                                <input type="hidden" asp-for="@Model.IsDeleted" value="@Model.IsDeleted" />
                                                <input type="hidden" asp-for="@Model.BaseUserInfoId" value="@Model.BaseUserInfoId" />
                                            }
                                            @resText пользователя
                                        </h3>
                                        @if (Model != null && Model.Id != Guid.Empty)
                                        {
                                            <a asp-action="Item" asp-controller="Account" asp-route-id="@Model?.Id" style="font-weight:900;color:#7571f9">к пользователю</a>
                                        }
                                    </div>

                                    <div class="validation text-center" asp-validation-summary="ModelOnly" style="color:red;font-weight:400;"></div>

                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Логин<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6" id="first-col">
                                            <input type="text" asp-for="UserName" name="UserName" class="form-control" placeholder="Логин*" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Имя<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6" id="first-col">
                                            <input type="text" asp-for="FirstName" name="FirstName" class="form-control" placeholder="Имя*" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Фамилия<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" asp-for="LastName" name="LastName" class="form-control" placeholder="Фамилия*" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Отчество<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" asp-for="Surname" name="Surname" class="form-control" placeholder="Отчество*" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Пол<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <select asp-for="Sex" name="Sex" class="form-select">
                                                <option selected>Мужской</option>
                                                <option>Женский</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Дата рождения<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            @{
                                                var minDate = DateTime.Today.AddYears(-100).ToString("yyyy-MM-dd");
                                                var maxDate = DateTime.Today.AddYears(-1).ToString("yyyy-MM-dd");
                                            }
                                            <input type="date" asp-for="BirthDate" name="BirthDate" class="form-control" placeholder="День рождения*" min="@minDate" max="@maxDate" required>
                                        </div>
                                    </div>

                                    @if (Model?.PhonesArray != null && !Model.PhonesArray.All(s => string.IsNullOrEmpty(s)))
                                    {
                                        <div class="form-group row" id="phones">
                                            <label class="col-lg-4 col-form-label">
                                                Телефон<span class="text-danger">*</span>
                                            </label>
                                            @foreach (var item in Model?.PhonesArray)
                                            {
                                                if (Array.IndexOf(Model.PhonesArray, item) == 0)
                                                {
                                                    <div style="display:flex;flex-wrap:nowrap;" class="col-lg-6">
                                                        <input type="text" name="PhonesArray[0]" class="col-lg-11 form-control" placeholder="Телефон*" pattern="(\+\d{4,}|\d{4,})" title="Please enter a valid phone number" required value="@item">
                                                        <input type="button" class="col-lg-1 btn btn-success" value="+" onclick="addPhone()" />
                                                        <div class="validate"></div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <label class="col-lg-4 col-form-label" for="val-skill"></label>
                                                    <div style="display:flex;flex-wrap:nowrap;" class="col-lg-6">
                                                        <input type="text" name="PhonesArray[0]" class="col-lg-11 form-control" placeholder="Телефон*" pattern="(\+\d{4,}|\d{4,})" title="Please enter a valid phone number" required value="@item">
                                                        <input type="button" class="col-lg-1 btn btn-danger" value="Х" onclick="removePhone()" />
                                                        <div class="validate"></div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group row" id="phones">
                                            <label class="col-lg-4 col-form-label">
                                                Телефон<span class="text-danger">*</span>
                                            </label>
                                            <div style="display:flex;flex-wrap:nowrap;" class="col-lg-6">
                                                <input type="text" name="PhonesArray[0]" class="col-lg-11 form-control" placeholder="Телефон*" pattern="(\+\d{4,}|\d{4,})" title="Please enter a valid phone number" required>
                                                <input type="button" class="col-lg-1 btn btn-success" value="+" onclick="addPhone()" />
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                    }


                                    <div id="phoneList"></div>




                                    @if (Model?.EmailsArray != null && !Model.EmailsArray.All(s => string.IsNullOrEmpty(s)))
                                    {
                                        <div class="form-group row" id="emails">
                                            <label class="col-lg-4 col-form-label">
                                                Почта
                                            </label>
                                            @foreach (var item in Model?.EmailsArray)
                                            {
                                                if (Array.IndexOf(Model.EmailsArray, item) == 0)
                                                {
                                                    <div style="display:flex;flex-wrap:nowrap;" class="col-lg-6">
                                                        <input type="email" name="EmailsArray[0]" class="col-lg-11 form-control" placeholder="Почта" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{{|}}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" value="@item">
                                                        <input type="button" class="col-lg-1 btn btn-success" value="+" onclick="addEmail()" />
                                                        <div class="validate"></div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <label class="col-lg-4 col-form-label" for="val-skill"></label>
                                                    <div style="display:flex;flex-wrap:nowrap;" class="col-lg-6">
                                                        <input type="email" name="EmailsArray[@Array.IndexOf(Model.EmailsArray, item)]" class="col-lg-11 form-control" placeholder="Почта" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{{|}}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" value="@item">
                                                        <input type="button" class="col-lg-1 btn btn-danger" value="Х" onclick="removePhone()" />
                                                        <div class="validate"></div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group row" id="emails">
                                            <label class="col-lg-4 col-form-label">
                                                Почта
                                            </label>
                                            <div style="display:flex;flex-wrap:nowrap;" class="col-lg-6">
                                                <input type="email" name="EmailsArray[0]" class="col-lg-11 form-control" placeholder="Почта" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{{|}}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                                                <input type="button" class="col-lg-1 btn btn-success" value="+" onclick="addEmail()" />
                                                <div class="validate"></div>
                                            </div>
                                        </div>
                                    }
                                    <div id="emailList"></div>




                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Уровень владения английским<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            @if (User.IsInRole("Admin") || Model == null || Model.Id == Guid.Empty)
                                            {
                                                <select asp-for="EnglishLevel" name="EnglishLevel" class="form-select">
                                                    @{
                                                        string selectedEnglishLevel = "";
                                                        if (Model != null && Model.EnglishLevel != null)
                                                            selectedEnglishLevel = Model.EnglishLevel;
                                                        var englishLevels = new List
                                                        <string>
                                                        () { "A1.1", "A1.2", "A2", "B1", "B2", "C1", "C2" };
                                                        foreach (var item in englishLevels)
                                                        {
                                                            if (item == selectedEnglishLevel)
                                                            {
                                                                <option selected>@item</option>
                                                            }
                                                            else
                                                            {
                                                                <option>@item</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <select asp-for="EnglishLevel" name="EnglishLevel" class="form-select" disabled>
                                                    <option>@Model.EnglishLevel</option>
                                                </select>
                                            }
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Откуда узнали о SkillsHub?
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" rows="5" asp-for="SourceFindCompany" name="SourceFindCompany" placeholder="Откуда узнали о SkillsHub?" data-rule="minlen:4" rows="4" cols="50" style="max-height:400px"></textarea>
                                            <div class="validate"></div>
                                        </div>
                                    </div>

                                    @if (User.Identity.Name == Model?.UserName || User.IsInRole("Admin"))
                                    {
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-skill">
                                                Пароль<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="password" asp-for="Password" name="Password" class="form-control" placeholder="Пароль" required>
                                            </div>
                                        </div>
                                    }
                                    @if (Model != null && Model.Id != Guid.Empty && false)
                                    {
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-skill">
                                                Новый пароль<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="password" asp-for="PasswordChanged" name="PasswordChanged" class="form-control" placeholder="Измененный пароль">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-skill">
                                                Повторно новый пароль<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="password" asp-for="PasswordChangedConfirm" name="PasswordChangedConfirm" class="form-control" placeholder="Повторите пароль">
                                            </div>
                                        </div>
                                    }
                                    @if (Model == null || Model.Id == Guid.Empty) 
                                    {
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body" style="display:flex;align-items:flex-start;grid-gap:20px;">
                                                    <h6 class="card-title">Роль: </h6>
                                                    <br />
                                                    <div class="basic-form">
                                                        <div class="form-group">
                                                            <div class="form-check mb-3">
                                                                <label class="form-check-label">
                                                                    @if (Model != null && Model.IsStudent == true)
                                                                    {
                                                                        <input type="checkbox" asp-for=IsStudent name="IsStudent" class="form-check-input" checked>
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" asp-for=IsStudent name="IsStudent" class="form-check-input">
                                                                    }
                                                                    Аккаунт студента
                                                                </label>
                                                            </div>
                                                            <div class="form-check mb-3">
                                                                <label class="form-check-label">
                                                                    @if (Model != null && Model.IsStudent == true)
                                                                    {
                                                                        <input type="checkbox" asp-for=IsTeacher name="IsTeacher" class="form-check-input" checked>
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" asp-for=IsTeacher name="IsTeacher" class="form-check-input">
                                                                    }
                                                                    Аккаунт учителя
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }



                                    <input type="submit" asp-action="Create" asp-controller="Account" class="btn login-form__btn submit w-100" value="@resText" />


                                </form>
                                <form>
                                    @{
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            <div></div>
                                        }
                                        else
                                        {
                                            <p class="mt-5 login-form__footer">Уже есть аккаунт?</p>
                                            <div>
                                                <input type="submit" asp-action="SignIn" asp-controller="Account" class="text-primary" value="Войти"></input>
                                            </div>
                                        }
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

          let phoneIndex = @Model?.PhonesArray.Length - 1;
          let emailIndex = @Model?.EmailsArray.Length - 1;

          function addPhone() {
              if (phoneIndex > 5) return;
              phoneIndex++;

              const phoneList = document.getElementById('phoneList');

              const newPhone = document.createElement('div');
              newPhone.className = 'form-group row';
              newPhone.innerHTML = `
                      <label class="col-lg-4 col-form-label" for="val-skill"></label>
                      <div style="display:flex;flex-wrap:nowrap;" class="col-lg-6">
                          <input type="text"  name="PhonesArray[${phoneIndex}]" class="col-lg-11 form-control" placeholder="Телефон*" pattern="(\+\d{4,}|\d{4,})" title="Please enter a valid phone number" required>
                          <input type="button" class="col-lg-1 btn btn-danger" value="X" onclick="removePhone(this)">
                          <div class="validate"></div>
                      </div>
                  `;

              phoneList.appendChild(newPhone);
          }

          function removePhone(element) {
              phoneIndex--;
              element.parentNode.parentNode.remove();
          }

          function addEmail() {
              if (emailIndex > 5) return;
              emailIndex++;

              const phoneList = document.getElementById('emailList');

              const newPhone = document.createElement('div');
              newPhone.className = 'form-group row';
              newPhone.innerHTML = `
                              <label class="col-lg-4 col-form-label" for="val-skill"></label>
                              <div style="display:flex;flex-wrap:nowrap;" class="col-lg-6">
                                  <input type="email"  name="EmailsArray[${emailIndex}]" class="col-lg-11 form-control" placeholder="Почта" pattern="(\+\d{4,}|\d{4,})" title="Please enter a valid phone number" required>
                                  <input type="button" class="col-lg-1 btn btn-danger" value="X" onclick="removeEmail(this)">
                                  <div class="validate"></div>
                              </div>
                          `;

              phoneList.appendChild(newPhone);
          }

          function removeEmail(element) {
              emailIndex--;
              element.parentNode.parentNode.remove();
          }


        function changePassword()
        {

        }
    </script>
</section>
<!-- Section: Design Block -->